<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.redballtoy.redball_browser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/my_logo_128_128"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gmail.redballtoy.redball_browser.MainActivity"
            android:icon="@drawable/my_logo_128_128"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gmail.redballtoy.redball_browser.web"
            android:icon="@drawable/my_logo_128_128"
            android:label="@string/app_name"
            android:parentActivityName="com.gmail.redballtoy.redball_browser.MainActivity">
            <intent-filter>
                <action android:name="com.gmail.redballtoy.action.show" />

                <data android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@drawable/my_logo_128_128"
            android:name="com.gmail.redballtoy.redball_browser.Settings"
            android:label="Settings">

        </activity>
    </application>

</manifest>